<h3>Market Data</h3>
<ng-container *ngIf="currency.symbol; else dataNotLoadedTemplate">
  <ul class="market">
    <li>
      Symbol:
      <br>
      <span>{{ currency.symbol }}</span>
    </li>
    <li>Price:
      <br>
      <span>{{ currency.price }}</span>
    </li>
    <li>Time:
      <br>
      <span>{{ currency.timestamp }}</span>
    </li>
  </ul>
</ng-container>

<ng-template #dataNotLoadedTemplate>
  <div class="not-loaded">
    <span>Market Data not loaded</span>
    <br>
    <span>Select another pair, wait or try later</span>
  </div>
</ng-template>
